<!DOCTYPE html>
<html>
<head>
    <title>在线用户信息</title>
</head>
<body>
    <div>进入播放页面的客户数量：@ViewData["TotalNumber"]</div>
    <div>没有加载视频的客户数量：@ViewData["NoLoadingNumber"]</div>
    <div>正在加载视频的客户数量：@ViewData["LoadingNumber"]</div>
    <div>已经完成加载的客户数量：@ViewData["CompletedLoadNumber"]</div>
</body>

</html>
