<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>剑学在线视频</title>
</head>
<body>
    <div style="width: 100%; margin: 100px auto 0 auto; text-align: center; ">观看的人太多了！排队中...</div>
</body>
</html>
